/*header*/
header {
  height: 70px;

  input,
  label {
    /*hide hamburger*/
    display: none;
  }

  .headText {
    width: 1200px;
    margin: 0px auto;
  }

  .logo {
    display: inline-block;
    margin-top: 25px;
    font-size: 21px;
  }

  .menu {
    list-style-type: none;
    float: right;
    margin-top: 26px;

    a {
      margin-left: 65px;
      font-size: 19px;
    }
  }
}

/*main*/
main {
  margin-top: 70px;
  min-height: calc(100vh - 455px);

  .restriction {
    width: 1200px;
    margin: 0px auto;
  }
}

/*index*/
.index {
  .inOne {
    height: calc(100vh - 70px);
    min-height: 750px;
    width: 100%;
    position: relative;

    h1 {
      font-size: 142px;
      text-align: left;
      width: 800px;
      font-weight: 500;
      line-height: 1.2;

      position: absolute;
      top: calc(50% - 70px);
      left: calc(50% - 600px);
      -ms-transform: translateY(-50%); //internet explorer
      transform: translateY(-50%);
      z-index: 5;
    }

    h4 {
      font-size: 40px;
      margin: 0px 50%;
      position: absolute;
      bottom: 50px;
      z-index: 5;
    }

    img {
      position: fixed;
      width: 100%;
      min-height: 750px;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      transition: opacity 0.5s;
    }
  }

  .inTwo,
  .inThree,
  .inFour {
    height: 100vh;
    min-height: 750px;
    position: relative;

    p {
      font-size: 32px;
      line-height: 1.5;
      text-align: center;
      width: 750px;
      z-index: 5;

      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%); //internet explorer
      transform: translate(-50%, -50%);
    }

    a {
      h3 {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 26px;
        font-weight: 500;
        width: 100%;
      }
    }

    .inPlastic {
      top: calc(15% + 70px);
      left: 10%;
      height: 65%;
      width: 22%;
    }

    .inGlitter {
      bottom: 10%;
      right: 10%;
      height: 30%;
      width: 30%;
    }

    .inToxic {
      top: calc(5% + 70px);
      right: 30%;
      height: 36%;
      width: 25%;
    }

    .inConsumer {
      top: calc(5% + 70px);
      left: 10%;
      height: 65%;
      width: 25%;
    }

    .inCompany {
      bottom: 10%;
      right: 15%;
      height: 50%;
      width: 30%;
    }

    .inGreener {
      bottom: 10%;
      left: 15%;
      height: 50%;
      width: 30%;
    }

    .inAdvocacy {
      top: calc(5% + 70px);
      right: 10%;
      height: 65%;
      width: 25%;
    }
  }
}

.issues,
.action,
.about,
.resources {
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    font-size: 70px;
    font-weight: 500;
    float: left;
  }

  p {
    font-size: 23px;
    float: right;
    clear: right;
    width: 600px;
    line-height: 1.75;
  }
}

.issues,
.action {
  a {
    display: block;
    font-size: 28px;
    line-height: 2.5;

    &:hover + img,
    &:focus + img {
      opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
}

/*issues*/
.issues {
  .issOne {
    height: 201.25px; //calculated!
    margin-bottom: 100px;
  }

  .issTwo {
    position: relative;
    height: 500px;
    padding-top: 100px;

    img {
      width: 600px;
      height: 500px;
      object-fit: cover;
    }
  }
}

/*take action*/
.action {
  .actOne {
    height: 241.5px; //calculate this!
    margin-bottom: 100px;
  }

  .actTwo {
    position: relative;
    height: 440px;
    padding-top: 140px;

    img {
      width: 600px;
      height: 440px;
      object-fit: cover;
    }
  }
}

/*content*/
.content {
  padding-top: 100px;
  padding-bottom: 100px;

  .intro {
    margin-bottom: 50px;

    h1 {
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 25px;
    }

    p {
      font-size: 23px;
      line-height: 1.5;
      margin-bottom: 80px;
    }

    figure {
      img {
        height: 800px;
        width: 90%;
        margin: 0px 5% 0px 5%;
        object-fit: cover;
      }
    }
  }

  article {
    section {
      display: block;
      margin-bottom: 50px;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 16px;
      padding-top: 30px;
    }

    h3 {
      font-size: 26px;
      margin-bottom: 16px;
    }

    h4 {
      font-size: 20px;
      text-align: center;
      font-style: italic;
      font-weight: 400;
      margin-top: 45px;
      margin-bottom: 45px;
    }

    p {
      font-size: 21px;
      line-height: 1.65;
      margin-bottom: 25px;
    }

    .imageAcross {
      margin-top: 50px;
      margin-bottom: 50px;

      img {
        width: 1000px;
        height: auto;
      }

      figcaption {
        font-size: 20px;
        margin-top: 15px;
        width: 1000px;
      }
    }

    .imageTall {
      margin: 50px 0px 50px 50px;
      float: right;

      img {
        width: 370px;
        height: auto;
      }

      figcaption {
        font-size: 19px;
        width: 370px;
        margin-top: 15px;
      }
    }

    .further {
      a {
        display: block;
        width: 100%;
        height: 72px;
        border-bottom: 1px solid $grey;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 25px;

        .p {
          font-size: 19px;
        }

        .furtherTitle {
          float: left;
        }

        .furtherAuthor {
          float: right;
        }
      }
    }
  }

  .contentText {
    width: 800px;
    margin-left: 100px;
  }

  .noneBottom {
    margin-bottom: 0px;
  }

  .next {
    a {
      position: fixed;
      bottom: 40px;
      font-size: 20px;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.35);
    }

    .previous {
      left: 50px;
    }

    .next {
      right: 50px;
    }
  }
}

.about,
.resources {
  p {
    margin-bottom: 40px;
  }

  .noneBottom {
    margin-bottom: 0px;
  }
}

/*resources*/
.resources {
  .resourcesOne {
    height: 160.75px; //manual
  }

  .resourcesTwo {
    padding-top: 100px;

    h2 {
      font-size: 36px;
      margin-bottom: 25px;
    }

    ul {
      padding-left: 15px;
    }

    a {
      display: block;
      font-size: 21px;
      margin-bottom: 15px;
      line-height: 1.75;
    }
  }

  .noneBottom {
    margin-bottom: 0px;
  }
}

/*about*/
.about {
  height: 884px; //manual
}

/*footer*/
footer {
  height: 385px;

  a {
    font-size: 18px;
  }

  .footText {
    width: 1200px;
    margin: 0px auto;
  }

  .footPar {
    float: left;
    margin-top: 50px;

    li {
      display: inline-block;
      line-height: 2;
      vertical-align: text-top;
    }
  }

  .footCol {
    margin-right: 120px;
  }

  .footMain {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .footSub li {
    display: block;
  }

  p {
    float: right;
    margin-top: 40px;
    font-size: 18px;
  }
}
